<div class="container">
  <h1>Create new ticket</h1>

  <div class="row create">
    <div class="col col-md-6">
      <div class="input-group">
        <input type="number" [formControl]="amount" class="form-control" />
        <button
          type="button"
          [disabled]="!amount.valid"
          (click)="onCreateTicket(amount.value!)"
          class="btn btn-primary"
        >
          Create ticket{{ amount.value && amount.value > 1 ? "s" : "" }}
        </button>
      </div>
    </div>
  </div>

  <h1>My tickets</h1>

  <ul *ngIf="tickets.length > 0">
    <li
      *ngFor="
        let ticketSummary of tickets;
        let index = index;
        trackBy: trackByFn
      "
    >
      <a [routerLink]="['ticket', ticketSummary.id]"
        >Ticket {{ index + 1 }}, Blocks: {{ ticketSummary.blocks }}</a
      >
    </li>
  </ul>

  <i *ngIf="tickets.length === 0">You don't have any tickets yet</i>
</div>
